[2019-01-31 17:23] Tangston311 opened #1 "Unexpected Activity Errors"
First, thank you for developing this!  I've been searching for a way to integrate my Bryant thermostat.  I've got Infinitude up and running and working well, but I'm running into a few issues when I install this plugin:

First, I got a number of deprecation errors when I initially installed this.  Not sure what those mean, but thought I would mention it.  I also got an "Unexpected activity for ZON

[2019-02-10 02:38] rcoletti116 commented on #1
I have the same problem. Seems that the Home can read the settings, but not update the thermostat. From the update two days ago, this issue still persists, and after updating via Home app the thermostat reads as “No Response.”
I hope this project will allow me to use my Infinity Touch with HomeKit.

[2019-02-10 16:43] Tangston311 commented on #1
Yeah I tried installing the latest version and encountered the same issue.  The switch appeared, and the thermostat icon appeared in the Home app displaying the correct temperature (but it was in an "off" state and said "Heating to 50" on the icon when the thermostat was actually was on and heating to 71).  By selecting "Auto" as a state in the home app it did actually change the thermostat to a "

[2019-03-03 03:18] johnnylonz commented on #1
I’m having same issue as above. It seems like something isn’t mapped right with the comfort profiles and the commands being sent from homebridge. If I leave my thermostat on “home” and “auto” it at least shows me the current info in HomeKit. But if I change it to “manual” on the thermostat to adjust the temp, it breaks the connection to HomeKit. Likewise, if I try to shush the temp in HomeKit, it

[2019-04-17 14:30] tobylutz commented on #1
The code in InfinitudeThermostat.js is missing thermostat characteristics for the following comfort [sleep, wake, manual] profiles.

I am not the original developer of this plug-in and my HVAC system isn't fancy enough to require a propriety communication protocol. However, I can certainly create a pull request to try and help fix the issues you're reporting.

Let me know if there is still a desir

[2019-04-17 14:36] tobylutz opened #2 "Missing comfort profiles in thermostat characteristics"
InfinitudeTermostat.js:getTargetHeatingCoolingState(accessory)
is missing the following targetActivityId's [Sleep, Wake, Manual] profiles.

[2019-04-17 15:57] Tangston311 commented on #1
@tobylutz  yes!  I desire very much.  Thank you!

[2019-05-19 01:48] jimhe commented on #1
Hi all, sorry for the confusion. Also, sorry for the delay in this response. I did not realize people were using this plugin!

The current version of this plugin is very simple. The thermostats are only there to show you the temperature and status, but you are not able to control the temperature with them. Alongside each thermostat I have created a switch to toggle the thermostat "on" and "off". W

[2019-05-20 15:56] Tangston311 commented on #1
FYI, I recently found a HomeAsisstant Component that integrates with Infinitude and is running smoothly so far for anyone interested in going down the HomeAssistant route: [https://github.com/ccalica/homeassistant-infinitude] (this link is a branch of the main repo that fixes an issue with the AUTO setting).

[2019-05-25 20:09] jimhe commented on #1
The newest version now supports changing profiles and temperatures with the thermostat accessories. I am closing this for now but it's possible not all the issues have been resolved. Feel free to open new issues for any remaining bugs or requests.

[2019-05-25 20:09] #1 closed, assigned to nobody

[2019-05-25 20:15] jimhe commented on #2
Unfortunately HomeKit only supports [TargetHeatingCoolingState.[`OFF`, `HEAT`, `COOL`, `AUTO`]](https://github.com/KhaosT/HAP-NodeJS/blob/81319b35d1588453cfcb1a823805643de7df74dc/lib/gen/HomeKitTypes.js#L2342-L2345), which can't map 1:1 to all of Infinitude's profiles. I've decided to make the following mappings:
- `manual` profile to `HEAT` or `COOL` depending on the manual mode set
- `away` prof

[2019-05-25 20:15] #2 closed, assigned to nobody

[2019-07-14 14:12] dewab74 opened #3 "Plugin throwing up undefined property on read."
Running with docker oznu/homebridge.  Homebridge is at 0.4.50.  Homebridge-infinitude is only plugin configured in homebridge.

homebridge-infinitude    | (node:367) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'htsp' of undefined
homebridge-infinitude    |     at /homebridge/node_modules/homebridge-infinitude/src/InfinitudeThermostat.js:148:97
homebridge-infinitude    |     a

[2019-10-27 16:27] ansuz07 opened #4 "Unable to load plugin"
Just started getting this error:

[10/27/2019, 11:24:46 AM] [InfinitudePlatform] TypeError: Cannot read property 'arrayMode' of undefined

    at Object.convertToJson (/homebridge/node_modules/homebridge-infinitude/node_modules/fast-xml-parser/src/node2json.js:24:43)

    at refresh.response (/homebridge/node_modules/homebridge-infinitude/src/InfinitudeClient.js:51:26)

    at InfinitudeClient.<an

[2019-11-18 23:33] rab523 opened #6 "Directory error when installing"

[2019-11-23 18:00] kskenyon commented on #4
I'm getting the same error.  Fresh installation.

[2019-11-23 18:14] ansuz07 commented on #4
I honestly just gave up on it and moved to Hass.io

[2019-11-30 17:17] #6 closed, assigned to nobody

[2020-01-18 02:00] rcoletti116 opened #8 "Outdated dependencies hapi"
I recently updated and the plugin stopped working. I can't be sure, but it looks like some dependencies are outdated. I have updated the dependencies locally, but it looks like the plugin invokes the deprecated versions directly.

sudo npm i -g homebridge-infinitude@latest
npm WARN deprecated joi@14.3.1: This module has moved and is now available at @hapi/joi. Please update your dependencies as th

[2020-02-19 01:54] rcoletti116 commented on #4
Same. It was working and stopped working after a recent update, but I haven't been able to identify what caused it. Maybe a node update.

[InfinitudePlatform] TypeError: Cannot read property 'arrayMode' of undefined
at Object.convertToJson (/usr/lib/node_modules/homebridge-infinitude/node_modules/fast-xml-parser/src/node2json.js:24:43)
at refresh.response (/usr/lib/node_modules/homebridge-infinitu

[2020-02-28 16:58] swerb73 opened #10 "Can't seem to get this to run with Homekit"
I can get it installed through npm, resolved the dependencies, but even after adding the platforms info to the config file HomeKit complains that it can't find the plugin?  Is this a known issue or should I post logs?

[2020-03-14 21:45] swerb73 commented on #4
Hmm, I just installed the update that came out today and am getting this problem as well?

[2020-03-16 14:04] rcoletti116 commented on #4
You only updated the homebridge-infinitude plugin?

It's been broken for me for months and I haven't found a way to resolve. It's also seen no development. The original developer has stated he did not realize others were using it.

[2020-03-16 14:12] ansuz07 commented on #4
Yeah - I gave up on this plugin months ago and moved to Hass.io

[2020-03-16 14:55] swerb73 commented on #4
I couldn't even get it installed before this update, now it's installed and I get this error.

Hass.io, is that full Home Assistant?

[2020-03-16 15:05] ansuz07 commented on #4
Yes - home assistant. There is a plug-in you can download that works.

[2020-03-16 15:19] swerb73 commented on #4
Got it, trying to avoid moving everything to homeassistant. I use homebridge just to get iOS/Home support for my smartthings integration...  I have infinitude thermostats published from a custom smartthings I did, they just aren't great so was hoping this would be better...

[2020-04-11 23:15] jimhe commented on #10
Does it work now after latest version?

[2020-04-11 23:16] jimhe commented on #4
Sorry for the delay. I finally got around to tending to this plugin. It has been fixed in ca250a2fc3e603533f20d07a8d4c419d5595f340

[2020-04-11 23:16] #4 closed, assigned to nobody

[2020-04-11 23:29] jimhe commented on #8
Fixed in 5d75572fff6d84645bcd55026fefeed23fd7f718

[2020-04-11 23:29] #8 closed, assigned to nobody

[2020-04-11 23:29] jimhe commented on #3
Does this still happen with latest version?

[2020-04-12 00:39] rcoletti116 commented on #3
Yes, I still get this.
node:2019) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'htsp' of undefined
at /usr/lib/node_modules/homebridge-infinitude/src/InfinitudeThermostat.js:148:97
at <anonymous>
at process._tickCallback (internal/process/next_tick.js:189:7)
(node:2019) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing insi

[2020-04-12 01:35] kskenyon opened #15 "Temperature Setting"
Can you make it so the temperature set point slider only allows integers like on the thermostat?  Decimals are not useful.

[2020-04-12 06:10] swerb73 commented on #3
Hello, this seemed to fix it for me. I now get a view only thermostat directly connected to Homebridge from the infinitude integration. Question: Is it intended to allow me to adjust the temp setpoint or is it really just read only?

[2020-04-12 12:59] rcoletti116 commented on #3
@swerb73 I'm curious what version of node are you running? It still not working for me and I’m trying to isolate possible causes in my system.

[2020-04-12 14:15] jimhe commented on #3
Yes, you should be able to adjust it. You have to alter the mode from `off` to one of the active ones.

[2020-04-12 14:16] jimhe commented on #3
@rcoletti116 can you post the output of your infinitude status.xml? http://${infinitude host}:${infinitude port}/status.xml

[2020-04-12 14:28] jimhe commented on #15
Are you on iOS 12? I believe iOS 13 no longer allows decimals in thermostat.

[2020-04-12 14:28] jimhe commented on #15
In any case, this plugin is agnostic to that behavior, it is a HomeKit issue. Closing since I cannot fix it here.

[2020-04-12 14:28] #15 closed, assigned to nobody

[2020-04-12 14:29] rcoletti116 commented on #3
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<status version="1.7">
<cfgem>F</cfgem>
<cfgtype>heatcool</cfgtype>
<filtrlvl>20</filtrlvl>
<humid>off</humid>
<humlvl>100</humlvl>
<localTime>2020-04-12T10:26:52-05:01</localTime>
<mode>hpheat</mode>
<oat>54</oat>
<oprstsmsg>idle</oprstsmsg>
<uvlvl>100</uvlvl>
<vacatrunning>off</vacat

[2020-04-12 15:57] jimhe commented on #3
Can you post the response from http://${infinitude host}:${infinitude port}/systems.json too?

[2020-04-12 16:08] jimhe commented on #10
Please reopen if necessary. Logs would be helpful if you reopen.

[2020-04-12 16:08] #10 closed, assigned to nobody

[2020-04-12 16:11] swerb73 commented on #10
Yes, it works now, thank you.

[2020-04-12 16:13] swerb73 opened #16 "Question: Is it intended to allow me to adjust the temp setpoint or is it really just read only?"
Opening this as a new issue from another conversation. I did confirm I have the thermostat set to Heat, Cool or Auto and when I adjust the setpoint in Home or in Homebridge it doesn't seem to publish to Infinitude?

[2020-04-12 16:20] jimhe commented on #16
Are there any homebridge logs when you make changes to the setpoints?

[2020-04-12 16:28] swerb73 commented on #16
Yes:

[4/12/2020, 11:27:09 AM] [InfinitudePlatform] setting target temperature to 21.1 [THIS MUST BE CELCIUS?]
[4/12/2020, 11:27:09 AM] [InfinitudePlatform] Setting htsp temperature to 70.0 for zone 3, activity manual, activityIndex 4
[4/12/2020, 11:27:14 AM] [InfinitudePlatform] setting target temperature to 20.6 [THIS MUST BE CELCIUS?]
[4/12/2020, 11:27:14 AM] [InfinitudePlatform] Setting htsp t

[2020-04-12 17:56] rcoletti116 commented on #3
{
system: [
{
config: [
{
vacat: [
"off"
],
cfghumid: [
"off"
],
humrmd: [
"on"
],
gasunit: [
"therm"
],
vacend: [
{ }
],
uvinterval: [
"12"
],
fueltype: [
"gas"
],
utilityEvent: [
{
demandResp: [
"offset"
],
demandHtAbs: [
"60"
],
enabled: [
"false"
],
priceOffset: [
"4"
],
priceResp: [
"offset"
],
minLimit: [
"50"
],
demandClAbs: [
"82"
],
maxLimit: [
"90"
],
priceClAbs: [
"82"
],
priceLimit: [

[2020-04-12 20:05] jimhe commented on #16
That's correct that it's celsius.

If there were no errors, it should be updating infinitude within a few seconds.

[2020-04-12 20:16] jimhe commented on #16
@swerb73 is it possible that you have set a schedule in your physical thermostat and it's automatically reverting the changes you're making in the HomeKit thermostat?

[2020-04-12 20:21] jimhe commented on #3
@rcoletti116 what is the status of ZONE 1 in your home? E.g. is it home? away? sleep?

Based on the JSON, it seems like it has no status. That is why it is failing. If you update the thermstat and set it to, for example, home, then it should work. I haven't built in support for a programmed zone. I can take that as a feature request for the future. However, at this time I don't see a need for it t

[2020-04-12 20:44] rcoletti116 commented on #3
Yes, it is set to Home. What field are you referring to as no status?

[2020-04-12 20:55] jimhe commented on #3
In your JSON, system->config->zones->zone1->holdActivity is empty. I need this field to know which activity you are currently in. I think this means that it's not set to `home` manually, instead it's set because of your program setting.

[2020-04-12 21:02] rcoletti116 commented on #3
ok, so if it's using a schedule to change Home & Away it won't work. I can confirm I just manually set the thermostat, outside the schedule, and it is working.

How can we use HomeKit to change profiles (Home, Away, Sleep)? I recall reading some of the notes about this, need to remind myself of the mapping.

[2020-04-12 21:41] rcoletti116 commented on #3
Ok, this is resolved by removing my schedule. Now I’m investigating #16 too.

[2020-04-12 21:46] rcoletti116 commented on #16
What I see on mine...
If I use Home/HomeKit to change the mode or manual temp, the status never changes or updates infinitude. Nothing happens to the thermostat. However, I can see the changes reflected on the Comfort Profile page... even though nothing really happens.

If I use the API it changes both within a second, and the thermostat is actually updated.

[2020-04-12 22:20] jimhe commented on #16
This is strange to me.

Is your schedule still on? Or is it completely in manual mode now?

[2020-04-12 22:21] jimhe commented on #3
The plugin is designed such that you do not have to worry about home/away/sleep anymore. It will change it to home/manual mode if you set a temperature. And if you turn it off, it will set it to away.

[2020-04-12 22:26] jimhe commented on #16
Can you show me how you use the API?

[2020-04-12 22:52] jimhe commented on #3
Please reopen if necessary.

[2020-04-12 22:52] #3 closed, assigned to nobody

[2020-04-12 22:58] rcoletti116 commented on #16
Schedule is disabled. All manual now.

It’s a simple API. so you can run the call direct from a browser, no special environment needed, though I set up a postman Collection for the testing as well.
For example, http://{host}:{port}/api/1/activity/manual?htsp=73

[2020-04-12 23:41] swerb73 commented on #16
Hi @jimhe, no, I don't use schedules on the thermostat. Rather I have an integration I've written from SmartThings to Infinitude that deals with the thermostat/zones. Basically I call the API just like you indicate here:

I also set the hold out 1 hour when changing the heat set point manually, then my other integration will kick in and set it back to the normal setting I have configured in WebCor

[2020-04-13 15:43] jimhe commented on #16
Keep in mind that zone id 1 should actually be at **index 0**: http://{host}:{port}/api/0/activity/manual?htsp=73

What the plugin does is set zone of `id-1`. Can you confirm this is the case by going to http://{host}:{port}/api/config/zones/zone/0 and checking the name of the zone?

[2020-04-13 15:46] swerb73 commented on #16
Hi @jimhe, yes, that works on my end. Zone 0 reports back the configuration/status of my first zone.

Here it is:
{
data: {
activities: [
{
activity: [
{
clsp: [
"73.0"
],
fan: [
"low"
],
htsp: [
"69.0"
],
id: "home"
},
{
clsp: [
"80.0"
],
fan: [
"off"
],
htsp: [
"50.0"
],
id: "away"
},
{
clsp: [
"71.0"
],
fan: [
"low"
],
htsp: [
"66.0"
],
id: "sleep"
},
{
clsp: [
"73.0"
],
fan: [
"off"
],
htsp: [

[2020-04-13 15:48] jimhe commented on #16
Cool. Now that it's confirmed, can you confirm that zone 0 is getting changed when you change temperature? If the thermostat is on HEAT/COOL mode, zone 0's `manual` activity will be updated to the temperature that you set (htsp or clsp respectively). If the thermostat is in AUTO mode, zone 0's `home` activity will be updated to the range you set (clsp -> htsp).

[2020-04-13 15:58] swerb73 commented on #16
Interesting, ok, I have it set to Heat, and I do see it update the manual setpiont to 67 but it doesn't change the thermostat to use manual, it stays on home so the temp never adjusts to use the new manual setting.

So I think this must be the issue I was running into. You're adjusting the comfort profile for manual (if in heat/cool) or for home (if in auto) but if I wasn't using that mode then th

[2020-04-13 16:11] jimhe commented on #16
I guess I was being opinionated on how to use activities. Upon changing thermostat modes, it will toggle the corresponding activity (`manual` for heat/cool or `home` for auto). But I guess your system is moving back from `home` to `manual` after a period of time? Or did it never toggle `home` for you at all upon changing HomeKit thermostat mode?

[2020-04-13 16:13] swerb73 commented on #16
Well maybe I didn't wait as long, it does appear now it toggled to manual, let me check it again...

[2020-04-13 16:20] swerb73 commented on #16
OK, confirmed, it is working, I just didn't understand how you were using the API. Any chance you'd be willing to add a configuration option(s):
- use your logic for auto=home, heat/cool=manual
- or always update manual, then set hold to last to a specific/configured time (I'd use 24:00)

Thoughts?

[2020-04-13 17:58] jimhe commented on #16
I will update documentation so it is clearer.

Can you elaborate on the merits of hold? I'm actually not well versed in how hold until works. What happens after the 1 hr has elapsed? Will it go back to its previous setting?

[2020-04-13 18:01] swerb73 commented on #16
Sure, yes, happy to. The thermostat is required to have at least one program, at least a default program (I have mine set to away). So when hold is over it will go back to the program the thermostat knows based on the schedule configured. Worse case scenario it goes back to home, although I chose mine to go to away then I have another script running that adjusts it based on various external events

[2020-04-13 18:25] rcoletti116 commented on #16
I'm not quite following. Do I need to set my physical thermostat a certain mode before using HomeKit? I still don't see any changes from HomeKit making it thru to Thermostat. I select Heat or Cool in HomeKit and change the temperature. The temp change reflects on the manual comfort profile, but the profile doesn't change. The climate mode also doesn't change if I switch from Heat to Cool or vice v

[2020-04-13 18:55] jimhe commented on #16
@rcoletti116 try toggling the HomeKit thermostat back to OFF and back to HEAT/COOL.

[2020-04-13 18:58] jimhe commented on #16
@swerb73 to make things simpler, I think I will only support AUTO going forward. Keeping track of heat vs cool adds an extra layer of complexity because I do not know if I am dealing with `htsp` or `clsp`. I had to save extra state into infinitude which I don't think is reliable.

On top of this, I think I will only use `manual` mode (instead of `home` mode) for simplicity's sake. I'll also suppor

[2020-04-13 19:08] swerb73 commented on #16
Hi @jimhe, totally understand your desire to keep it simple. I'd suggest you ignore the setting auto/heat/cool/fanonly/off, etc - then you don't need state, it really shouldn't matter. That way you're also following the thermostat implementation overriding the htsp and clsp, basically in all cases it just reverts to manual.

Oh, wait, I see, in my implementation I actually allow setting the htsp a

[2020-04-13 19:09] swerb73 commented on #16
@rcoletti116, also give infinitude the full cycle time of your refresh interval (mine is 15s) for it to fully propagate through. I sometimes notice it takes two cycles.

[2020-04-13 20:13] jimhe commented on #16
I made the changes in 7bf33cbafefacd88fb4462c7c8c70b4752a4362c, please reopen if necessary.

[2020-04-13 20:13] #16 closed, assigned to nobody

[2020-04-14 12:32] rcoletti116 commented on #16
The update didn't fix anything for me. In fact, now controlling from Homekit shuts down my Homebridge with a SIGTERM. Opening a new issue.

[2020-04-14 12:34] rcoletti116 opened #17 "V0.3.0 Causes Homebridge to Shut down"
When I attempt to change the temperature under _Auto_ the I get an error "URL not defined" which causes Homebridge to crash. Logs:
[2020-4-14 12:31:08] ReferenceError: URL is not defined
at InfinitudeClient.setActivity (/usr/lib/node_modules/homebridge-infinitude/src/InfinitudeClient.js:121:17)
at InfinitudeThermostat.<anonymous> (/usr/lib/node_modules/homebridge-infinitude/src/InfinitudeThermosta

[2020-04-14 14:57] jimhe commented on #17
@rcoletti116 can you check if 0.3.1 fixes it?

[2020-04-14 16:12] rcoletti116 commented on #17
Yes, Homebridge no longer crashes.

[2020-04-14 16:14] jimhe commented on #17
Good news. Please reopen if necessary.

[2020-04-14 16:14] #17 closed, assigned to nobody

[2020-04-14 17:43] rcoletti116 commented on #16
@swerb73 did you update your pass_reqs in infinitude.json or infinitude itself? "pass_reqs":15
I still see my changes only updating the profile, but not the status or thermostat. This may just be an infinitude issue, but I still can't get this to work. Even if I wait the default 17 minutes. What is even more odd is if I make some other unrelated change to a different/unused profile, move Sleep by

[2020-04-14 18:39] rcoletti116 commented on #16
I see what infinitude is doing, but don't know if this is normal. The call from HomeKit is updating to systems.json but not status.json. The change never gets to the thermostat on its own. When I make another change that's when the web application sends systems.json as a payload via POST to http://{host}:{port}/systems/infinitude. The thermostat is then updated and the change is reflected in statu

[2020-04-14 20:29] jimhe commented on #16
This is what I notice too. It seems that the physical thermostat only posts to infinitude and does not receive updates from it.

I am not able to consistently reproduce this. If I was, I would mirror what infinitude webpage does and update all of systems.json instead of making a single call for that zone+activity.

My understanding is that systems.json is what we can manipulate and status.json ref

[2020-04-15 16:45] swerb73 commented on #16
Hi @rcoletti116, I use the infinitude.json. Hmm, it almost appears like your HomeKit changes are cached (I believe Infinitude does that, holds many changes for the pass_reqs period configured then updates them), might be worth posting your question on the infinitude project pages.

I haven't had this problem. I use WebCore (part of SmartThings ecosystem) to interface/automate infinitude and use GE

[2020-04-15 17:30] jimhe commented on #16
No offense taken. However, I would not mind making changes to support your use case. I had thought that `holdUntil` satisfies this? Are there other changes necessary?

[2020-04-15 18:45] rcoletti116 commented on #16
What I have found in my further testing is that a PUT actually triggers the updates back to the thermostat. The POST does not. For example, PUT http://{host}:{port}/api/config/zones/zone/0/activities/activity/4?htsp=65.0&clsp=78

I had read in old Infinitude docs that the request verb didn't matter, but I don't think this is true. At least in my case I am now able to reproduce my existing homebrid

[2020-04-15 18:50] swerb73 commented on #16
Interesting @rcoletti116, I use GET.

@jimhe, no worries, just didn't want to push you if you weren't interested.  At the end of the day I'd want the integration to know which mode it is in then to change the htsp, clsp relative to the mode. I'd still only update the manual comfort setting then switch the thermostat to manual for a period of time (configured) then let the thermostat fail back afte

[2020-04-15 19:39] jimhe commented on #16
The plugin uses GET. Just to confirm, in your testing, if you issue a PUT vs a GET manually, you see different behavior from the physical thermostat reflecting the changes? I was not able to reproduce PUT triggers a thermostat update myself.

[2020-04-15 19:51] jimhe commented on #16
Thanks for your continued insight, @swerb73.

Thanks, that definitely helps. The main issue is that HEAT/COOL require me to keep state in order to know if I am supposed to set htsp or clsp. AUTO will always set both temperatures in succession. So if I only support OFF or AUTO, it should work.

Just to clarify: every time you update the temperature, you'd want it to switch over to manual mode, adju

[2020-04-15 21:09] rcoletti116 commented on #16
Yes, that's correct.

[2020-04-16 12:26] swerb73 commented on #16
I totally understand the concern and appreciate if you decide to not implement.

Yes, that is correct, if you keep track of state, then regardless of which state it's in (heat/cool/auto - auto thermostat interface let's you adjust both htsp and clsp in homekit/homebridge) if the sp is changed the thermostat would be switched to manual mode with those new sp's for a configured hold time - in this w

[2020-04-20 20:11] rcoletti116 commented on #16
Just an update for you. I hardcoded my local install of InfinitudeClient.js to use PUT instead of GET and this resolved my issues. I now have proper control of my thermostat's temperature in homekit.

[2020-06-17 13:15] rcoletti116 opened #18 "New Warning - hap-nodejs dependencies"
I'm seeing this warning for the first time. My set up is working really well these days, so I'll be content if it doesn't get resolved. It doesn't seem to be causing any issues right now. Just thought I'd make you aware.
--
[6/17/2020, 1:11:19 PM] The plugin "homebridge-infinitude" defines 'homebridge' and/or 'hap-nodejs' in their 'dependencies' section, meaning they carry an additional copy of ho

[2020-06-19 00:10] kskenyon opened #19 "Cannot read property 'htsp' of undefined..."
(node:369) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'htsp' of undefined
    at InfinitudeThermostat.<anonymous> (/homebridge/node_modules/homebridge-infinitude/src/InfinitudeThermostat.js:129:82)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
(node:369) UnhandledPromiseRejectionWarning: Unhandled promise rejection

[2020-06-19 00:24] rcoletti116 commented on #19
Check out #3.

If it’s the same issue (logs are the same), this had to do with schedules and profiles. Assuming you’re on the latest version, leave your thermostat on manual and build your automations in HomeKit. Remove any schedule from the thermostat so it doesn’t fall back.

[2020-06-19 00:40] kskenyon commented on #19
I went back and read the other thread.  Your suggestion doesn't meet the WAF requirement.  She won't use Homekit to change schedules.  This plugin isn't helpful if it requires messing with the thermostat.  It took long enough to get her switched over from the old round Honeywell.  We still argue about the schedule and auto functions.  Auto is a difficult concept apparently.

I just suggest that th

[2020-06-19 00:51] rcoletti116 commented on #19
I won’t weigh in on whether it’s ready for prime-time. If you’re using homebridge, you’re a tinkerer. I get it though, my wife isn’t technical and just expects things to work, so our tinkering has to be usable for normal human interaction. I was just providing some direction on how to make your error go away.

This plugin is working well for me these days and we never have to touch the thermostats

[2020-07-10 20:12] metaton8086 commented on #16
@rcoletti116, I realize this is closed, but I believe I have the exact same problem.  Would you mind posting your changes to InfinitudeClient.js so I can test if it resolves my issue?

[2020-07-10 20:46] rcoletti116 commented on #16
Sure, I hope this helps you.
The change is made in the section setTargetTemperature which begins in Line 83. At Line 94, change _.get(uri)_ to _.put(uri)_.
Here is just this section of code:

[code]

[2020-07-10 21:03] metaton8086 commented on #16
Thank you @rcoletti116.  That fixed the issue.  Changes I make are now properly posting through to the thermostat.  Previously, the changes posted to the Infinitude Comfort profiles page, but unless I went in and manually hit save, it would not post through to the thermostat.

[2020-07-10 21:13] rcoletti116 commented on #16
That's awesome! I glad this fixed it up for you. I had the same experience as you, but I've been running solid in HomeKit since this change.

[2020-07-24 22:25] gamemasta0 commented on #16
@rcoletti116 thank you for doing some experimentation, but I tried changing that file and then it wouldn't even update the Comfort Profiles page, let alone the actual thermostat. I was manually editing the InfinitudeClient.js in the npm install folder (/usr/local/lib/node_modules/homebridge-infinitude/src), is there a better way of making this edit while still using the Homebridge Config UI X plug

[2020-07-25 00:20] rcoletti116 commented on #16
My file is in that same directory.

When you said " I tried changing that file and then it wouldn't even update the Comfort Profiles page, let alone the actual thermostat" does that mean before this change it would, in fact, update the Profiles page?

Did you install the plugin via Config-UI-X? I use that as well, but there's no way to manage the source files from there.

Depending on how you inst

[2020-07-25 04:24] jimhe commented on #16
Sorry for the radio silence, I've just had a baby so been quite busy.

Thanks @rcoletti116 for the change, I made it and published new version to npm!

[2020-07-25 23:50] gamemasta0 commented on #16
@rcoletti116 correct! It had changed in the comfort profiles section previously.

And you also guessed correct that I had installed via the UI X plugin. But this is the only way I had installed the Infinitude plugin so any instance of it should have been from UI X. Also, since it did change the behavior, I think I found the right source file. But now it seems the change has been made on npm so I t

[2020-08-13 20:10] jlg89 opened #21 "Plugin shows incorrect settings for primary thermostat"
I'm not sure quite where to start here, so let me know what information is needed to troubleshoot effectively. I don't know whether this is a plugin issue, or maybe something with Infinitude and the specific Carrier t-stats I'm using (SYSTXCCITC01-B).

I have a three-zone system, with a primary and two secondary thermostats. All three show up in HomeKit. All three are set to manual/hold in the Inf

[2020-08-17 20:17] jlg89 opened #22 "How to display current outdoor temp?"
Is there a way for the plugin to display the outdoor temp ("oat" value from the infinitude web interface) in HomeKit?

[2020-08-18 15:09] rcoletti116 commented on #22
This plugin does not. Maybe the developer will consider an enhancement.

If you're open to another way of doing this, it's pretty easy. Check out this plugin: https://github.com/metbosch/homebridge-http-temperature

My config for my Infinitude looks like this, with {IPAddress} and {port} replaced with your local values.
   {
            "accessory": "HttpTemperature",
            "name": "Outside

[2020-08-18 15:35] rcoletti116 commented on #22
By the way, do you know if the 'oat' value is coming from the outdoor unit itself or the weather web-service Carrier uses for forecast?

[2020-08-18 15:55] jlg89 commented on #22
That's perfect! Thanks for the heads-up. I checked with my HVAC guy, and he confirmed that the t-stat pulls "oat" from the outside condenser unit, which makes sense, since internet connectivity is optional and I think the t-stat displays the outdoor temp even if not connected to WiFi. Depends on your setup, of course. If you look at the outside condensing unit, just above where the electrical cond

[2020-08-18 20:32] jlg89 commented on #22
So...it's pretty straightforward to harvest the "oat" from the infinitude web interface. I like being able to see the outside temp alongside my t-stat settings in the Home app dashboard. Running the additional plugin isn't a big deal, but it would be a nice enhancement for homebridge-infinitude to offer that as an option, and publish it as a separate temperature accessory just like the homebridge-

[2020-09-01 14:04] jlg89 commented on #19
Same issue here. If the t-stat has no schedules defined and is set to "hold" or "off," this error doesn't occur, but I  still run into odd issues with the t-stat settings changing with no explanation as to why. I won't complain about a free module that does actually have good functionality, and even my HVAC guy is impressed with what I'm able to do with this module and the infinitude daemon. From

[2020-09-19 16:10] jlg89 commented on #19
Another reason to support working with a t-stat with schedules enabled: The t-stats use the built-in schedule to trigger other useful things like backlighting level changes (e.g. dim to 20% during Sleep, brighten to 100% during Wake & Home).

[2020-10-29 03:25] beech190 commented on #16
Hopefully one of you are still monitoring this thread and I am not hijacking this thread either...
Just installed the Docker Container for Infinitude and it's running on my Synology NAS. I have the plugin installed for Homebridge as well. I cannot seem to get the infinity thermostat to show in my accessories in Home App. Being new to this whole thing, I am sure that I am missing something small. I

[2020-10-29 13:13] rcoletti116 commented on #16
Are you sure Infinitude is running? Are you able to see the infinitude UI when you go to that IP:Port in your browser? If so, is the globe icon blue (shows connected state) and thermostat values populated?

[2020-10-29 13:19] vypergts commented on #16
Did you mean the external IP of your NAS or of your network? You are using a 192.x address in your thermostat’s settings correct?

[2020-10-29 13:55] beech190 commented on #16
I am able to see the UI from outside the network. I am not home so I cannot test to see whether I can see it from inside. The thermostat values are populated and the globe is blue.

I am not using the IP of my nas in the thermostat. I have the port of the docker container forwarded from my router to the nas where the docker container lives. The proxy server I have set in the thermostat is the exte

[2020-10-29 14:19] rcoletti116 commented on #16
Yes, If configured correctly it should just show up.

The error you posted is a timeout. It's possible with all the proxying in and out of your network the response time is too long. If possible I'd recommend to configure using an internal IP and ensure that your thermostat and infinitude are on the same network. The flow of traffic will be much simpler. If you want external access to the Infinitu

[2020-10-29 17:46] beech190 commented on #16
Thanks for the insight! No reason why I’m using the external IP address except for the fact that I didn’t know what IP to use. I believe I did try the internal IP and it didn’t work. Most likely because of the suggestion you made about changing my config to be a different IP. Maybe there was a conflict there? Is the config file for homebridge or for infinitude? I’m not sure where to find it. My Sy

[2020-10-29 18:29] rcoletti116 commented on #16
Yes, change the infinitude port to something else since 3000 is already in use. Then point your thermostat proxy settings to 10.0.0.62:{port}. Finally set your Homebridge config file (or via UI settings) to use that same 10.0.0.62:{Port} (exception is the possibility of using local address).

[2020-10-31 03:30] beech190 commented on #16
no dice. I did change the thermostats proxy to the local IP of 10.0.0.62 and Port 32768. I can then navigate to the IP address within the network and see the infinitude UI. However, I cannot get the error message in Home Bridge figured out. I did update IP address in Home Bridge plugins for the infinitude docker container. I changed this to the same internal IP and port that I have the thermostat

[2020-10-31 11:20] rcoletti116 commented on #16
Does your homebridge instance have the same internal IP?

[2020-10-31 14:14] beech190 commented on #16
infinitude's homebridge plugin settings are set to that port number and IP, yes. As far as the docker container for homebridge, there doesn't seem to be a port number set up for that container in Docker on my Synology. Is this what you're asking?

After restarting homebridge from the UI, I do see this error about "zones" in the log. Could this be an issue?
Again, I appreciate the help! My next ste

[2020-10-31 14:58] rcoletti116 commented on #16
I’m not really asking about homebridge’s port. More-so just need to validate that the two services can communicate. I’m assuming homebridge is open for communication on your network, otherwise it wouldn’t work for your other devices.

Is the IP address of your infinitude the same as your homebridge? They are running in different containers on the same physical hardware, right? Did you try using th

[2020-10-31 20:27] beech190 commented on #16
It's possible that I have them talking to one another now. The Infinitude Docker was on a completely different IP and port.

I no longer get the red error timeout message, but I do still have the zone message.

The thermostat is on and I have the profile set to "home" and "auto." I only have one zone.

[2020-11-02 19:56] rcoletti116 commented on #16
Can you try setting to a manual temperature instead of a profile and see what it does for you? There's been several issues closed related to that problem. As there isn't a 1-1 mapping of profile options within HomeKit, so dev decided to map only Auto (HomeKit) to Manual (Infinity).

[2020-11-03 05:48] beech190 commented on #16
Understood. When I get back home to the thermostat I will put it in a manual mode and see what happens. Thanks!

[2020-11-22 04:17] beech190 opened #24 "Timeout Error with Infinitude Docker Container and HomeBridge"
I am receiving this error:
[11/21/2020, 12:37:49 PM] [InfinitudePlatform] Error: timeout of 5000ms exceeded
at createError (/homebridge/node_modules/homebridge-infinitude/node_modules/axios/lib/core/createError.js:16:15)
at Timeout.handleRequestTimeout [as _onTimeout] (/homebridge/node_modules/homebridge-infinitude/node_modules/axios/lib/adapters/http.js:217:16)
at listOnTimeout (internal/timers.j

[2020-11-22 19:21] #24 closed, assigned to nobody

[2020-11-22 19:24] beech190 commented on #16
Thanks for all of the help. I was able to get it working by using the IP address 0.0.0.0 and the port number I had set. Had to do some digging, but it seems that most of the container IP addresses are 0.0.0.0. I also resolved the Zone issue by following your advice and taking it out of a schedule mode. All is good. Thanks!

[2020-11-25 15:27] rcoletti116 commented on #18
Hoping to bump this because I believe this is causing issues now. The homebridge can be removed from dependencies easily enough, but removing the hap-nodejs needs updates to some of the other code. I'm going to try digging into it myself, but @jimhe you may be faster.

[2020-11-25 16:59] #18 closed, assigned to nobody

[2020-11-25 17:00] jimhe commented on #18
I think (hope?) 2e4de725e55cb4e6a69606c209f61c35cea7c535 should fix this

[2020-12-15 06:24] dotfortun3-code commented on #19
I forked this project and modified it to work with schedules, it sets the current scheduled activities temperature, so if you adjust the temp while it is in the "Home" mode, it will keep that temperature whenever it is in the "Home" mode.

It also uses Auto, Cool, Heat and Off, and matched the Infinity T-stat with the mode you select. There is an option to have the Off mode set the system to Away

[2020-12-16 16:18] rcoletti116 commented on #19
@dotfortun3-code I'm curious which version you started from? I have not gotten the chance to test yet, but assuming that your changes can work with or without a schedule (allowing Automations to done in HomeKit by Geo or Time) why not make a PR?

[2020-12-16 17:12] dotfortun3-code commented on #19
@rcoletti116 I forked from the latest version. It should work with automations in HomeKit.

I haven't ever really contributed to a GitHub repo before so I was not sure what the best practice is. I would absolutely submit a PR, if you think that it's good. Just let me know and what changes need to happen to make it merge better.

[2021-01-15 16:10] jlg89 opened #27 "Plugin philosophy discussion"
I'm a programmer, but I haven't yet learned my way around the guts of homebridge and its plugins. So I'm still working on being able to be helpful in that way. Between @jimhe, @rcoletti116, and @dotfortun3-code, though, I think this plugin already has a good contributor base. But I am an electrical engineer, I have a relatively complex smart home, and I have a non-technical wife, so I feel at leas

[2021-01-15 21:32] rcoletti116 commented on #27
Thanks for writing this and putting on the table a discussion on where this plugin can and should go.

I would love to see the plugin further extended, and have spent some time trying to familiarize myself with the current code. The way the plugin is written is very centric to the thermostat zones and extending outside this is proving difficult for me (would be happy to have someone else look it o

[2021-01-15 23:52] dotfortun3-code commented on #27
I really enjoyed extending the plug-in to add some of the features I did. Admittedly it was mostly experimentation and learning a bit of HomeBridge.

I'd like to go back and refactor my changes and submit a PR for this repo. Maybe this weekend.

I made more changes to the plug-in then were necessary for a PR, which was part of the reason for branching it.

I like to see the discussion about the pl

[2021-01-15 23:57] rcoletti116 commented on #27
I noticed you refactored the way the infinitude API is used in yours. It looks like you call the API directly instead of parsing the xml. Did you do that out of necessity for getting the schedule/next activity?

[2021-01-16 16:05] jlg89 commented on #27
@rcoletti116 the limitations of HK vs. Infinitude t-stats are something I haven't researched either. I do have an Apple Developer account, so tell me if I can help by digging up any API info etc. My Infinity system has three zones, with one main t-stat and two slaves, so I can certainly help with testing & troubleshooting.

I did some playing around with @dotfortun3-code's version, and figured out

[2021-01-17 17:30] dotfortun3-code commented on #27
The documentation for Infinitude's API isn't that great and I was having issues getting it to write to the config for setting the temperature. I was able to get it working using the API, and updated the rest for consistency.

I don't think it was a necessity, I just couldn't get it working the other way.

This shouldn't be hard to do, this was mostly how the original plugin works, it just needs so

[2021-01-18 14:26] jlg89 commented on #27
That's a great idea. Have a config setting like "OperationType" that maybe defaults to "manual" to cause a temporary manual override (do the least invasive thing) but can be set to "schedule" to affect the current schedule setting. And a "HoldTime" setting that defaults the "otmr" time for a manual override to the next scheduled activity, or can be set to a specific timespan. I'm not sure how the

[2021-01-18 20:49] rcoletti116 commented on #27
That’s right, HK only allows those profiles so there won’t be 1:1 mapping with Infinity. Thus you often see creative ways in leveraging Off and Auto. So any use of manual vs schedule would be a backend homebridge things to discern which one to change and not something controllable in the Home app.

[2021-02-09 23:05] etomnash commented on #27
I have some recent experience to report regarding problems getting either fork of this plugin to run. as well as thoughts about a possible (hopefully easy) simple status read out only plugin to use as a temporary or permanent work around.

Background:

Homebridge running well on a Raspberry Pi 4 with 4 plugins working (GlobalCache for old Lutron radiora lights; Davis weatherlinklive; Purpleair; an

[2021-02-12 15:51] jlg89 commented on #27
@etomnash that's really a separate issue from this thread, you're having installation and/or configuration problems. It looks like your issue with homebridge-infinitude is that you have schedules defined, and your t-stat is probably in Auto mode, either of which will cause that plugin to fail. You also shouldn't try to run both homebridge-infinitude and homebridge-infinitude-schedules at the same

[2021-02-12 17:58] etomnash commented on #27
Apologies. I realized after posting that I should have posted the problems as new issues.

My main point got lost: given these difficulties I am looking for a light weight solution to get just rt (room temperature) from individual zones. I could use the same solution as for oat (HttpTemperature plugin or similar) but the Infinitude api does not allow drilling down to a specific zone as far as I ca

[2021-02-23 16:28] dotfortun3-code commented on #27
I will take a look at this and see what I can find. I noticed that periodically popping up about hap-nodejs, but I am not sure what is causing the issue. I believe it's supposed to use a globally available version but it can't seem to find it. If I add it to the package.json for the plugin, homebridge complains about it.

[2021-02-23 16:42] rcoletti116 commented on #27
I think this is because you have it required in InfinitudeThermost.js but don't include it in your dependencies. Best practice is to use the global version. Check out the main plugin and compare line 1-2 of InfinitudeThermostat.js to yours https://github.com/jimhe/homebridge-infinitude/blob/master/src/InfinitudeThermostat.js. You'll see how it invokes the hap service without including as a depende

[2021-03-02 01:04] jarboer opened #29 "Getting multiple errors and I am unable to see the correct temperature or set the temperature in the home app"
Hi, I'm hoping someone can help me out. I'm having issues getting the homebridge-infinitude plugin to work. I'm running Hombridge and infinitude on my Rasberry Pi zero, and I access infinitude from localhost to use it with the plugin. I can get and send data just fine to infinitude through a browser but using the plugin always results in an error. I'm getting consistently getting errors like these

[2021-04-07 15:12] jimhe opened #31 "Transfer ownership to dotfortun3-code"

[2021-04-07 15:12] jimhe commented on #31
@dotfortun3-code do you have a NPM username?

[2021-04-20 23:28] dotfortun3-code commented on #31
Sorry for the delay! I do. It's dotfortun3.

[2021-04-26 03:16] dotfortun3-code commented on #31
Is there anything I need to do before the repo gets transferred?

[2021-04-28 17:32] jimhe commented on #31
@dotfortun3-code I've added you as an owner and maintainer in https://www.npmjs.com/package/homebridge-infinitude

[2021-04-28 17:36] jimhe commented on #31
@dotfortun3-code I've updated everything I think that's necessary. You should be able to publish new npm versions yourself. Please let me know if you have any issues.

[2021-05-03 03:18] dotfortun3-code commented on #31
@jimhe I just tried a version bump and I do not have write access. I think you can either give me write access, or transfer the ownership of the repo under the settings tab.

[2021-05-04 15:30] jimhe commented on #31
Hmm, you are a maintainer with write access...? I also added you as an owner too. What error are you getting exactly?

<img width="801" alt="Screen Shot 2021-05-04 at 8 29 37 AM" src="https://user-images.githubusercontent.com/2302582/117028765-def9c880-acb2-11eb-8e1a-88e4ca2441ef.png">

[2021-05-04 15:30] jimhe commented on #31
@dotfortun3-code ^

[2021-05-04 15:50] dotfortun3-code commented on #31
No worries, everything is good now. I am just new to this so I had to figure out what I was doing wrong. Thanks!

[2021-05-04 15:51] jimhe commented on #31
Glad it's working!

[2021-05-04 15:51] #31 closed, assigned to jimhe

[2021-07-03 01:44] dotfortun3-code commented on #29
Did you try using my version of the plugin? This one is no longer maintained, but this version should handle Celsius.

https://github.com/dotfortun3-code/homebridge-infinitude-v2